button{
    height: 65px;
    width: 105px;
    padding: 0px;
    margin-bottom: 20px;
    font-size: 8px;
}

.empty-button{
    height: 65px;
    width: 105px;
    padding: 0px;
    color: rgba(255,255,255,0);
    border-color:rgba(255,255,255,0);
}


.empty-button:hover, empty-button:hover,input[type='button']:focus{
    
    color: rgba(255,255,255,0);
    border-color:rgba(255,255,255,0);
}

.drink-menu{
    height: 660px;
}

#app{
    width: 960px;
}

.button-yellow{
    background-color: lightgoldenrodyellow;
}

.button-brown{
    background-color: #FFF3E8;
}

.button-purple{
    background-color: #F3E8FF;
}

.button-green{
    background-color: #E8FFF3;
}

.button-grey{
    background-color: #E8FCFF;
}

.button-blue{
    background-color: #E8F4FF;
}