button{
    height: 65px;
    max-height: 65px;
    width: 105px;
    padding: 0px;
    margin-bottom: 20px;
    font-size: 8px;
    white-space: wrap;
}

.empty-button{
    height: 65px;
    width: 105px;
    padding: 0px;
    color: rgba(255,255,255,0);
    border-color:rgba(255,255,255,0);
}


.empty-button:hover, empty-button:hover,input[type='button']:focus{
    
    color: rgba(255,255,255,0);
    border-color:rgba(255,255,255,0);
}

#app{
    width: 1400px;
}

#menu{
    height: 660px;
    width: 800px;
}

#order{
    width: 220px;
}

#drink-builder-options{
    background-color: lightgoldenrodyellow;
    width: 105px;
}

.drink-menu{
    margin: 0px auto;
    height: 660px;
}

.five-buttons button{
    margin: 0px 2% 20px;
}

.six-buttons button{
    margin: 5px 1%;
}

.button-yellow{
    background-color: lightgoldenrodyellow;
}

.button-brown{
    background-color: #FFF3E8;
}

.button-purple{
    background-color: #F3E8FF;
}

.button-green{
    background-color: #E8FFF3;
}

.button-grey{
    background-color: #E8FCFF;
}

.button-blue{
    background-color: #E8F4FF;
}